<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--主界面日志显示最大条数-->
    <add key="LOG_MAX_COUNT" value="1000"/>
    <!--SOCKET数据包分割字符串-->
    <add key="PACKET_SEP"  value="\n"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="data source=192.168.0.3\ydlmserver;initial catalog=YDL;user id=sa;password=ydl_151001" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>